:root {
  --bs-blue: #1418A5;
  --bs-indigo: #6610f2;
  --bs-purple: #9f1ae2;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fbfcff;
  --bs-gray: #0305ca;
  --bs-gray-dark: #080b72;
  --bs-gray-100: #caccf9;
  --bs-gray-200: #9698f2;
  --bs-gray-300: #6165ec;
  --bs-gray-400: #2C31E5;
  --bs-gray-500: #0507D8;
  --bs-gray-600: #0305CA;
  --bs-gray-700: #080AA7;
  --bs-gray-800: #080B72;
  --bs-gray-900: #06063B;
  --bs-primary: #1418a5;
  --bs-secondary: #0305ca;
  --bs-success: rgb(40,167,69);
  --bs-info: #17a2b8;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #caccf9;
  --bs-dark: #080b72;
  --bs-primary-rgb: 20, 24, 165;
  --bs-secondary-rgb: 3, 5, 202;
  --bs-success-rgb: 40, 167, 69;
  --bs-info-rgb: 23, 162, 184;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 202, 204, 249;
  --bs-dark-rgb: 8, 11, 114;
  --bs-white-rgb: 251, 252, 255;
  --bs-black-rgb: 4, 4, 30;
  --bs-body-rgb: 8, 11, 114;
  --bs-font-sans-serif: "Poppins", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255,255,255,0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: "Poppins", sans-serif;
  --bs-body-font-size: 1.125rem;
  --bs-body-font-weight: 500;
  --bs-body-line-height: 1.5;
  --bs-body-color: --bs-gray-700;
  --bs-body-bg: #ffffff;
  --bs-link-color: #0507D8;
  --bs-link-hover-color: #12c3ea;
}

h6, .h6, h5, .h5, h4, .h4, h2, .h2 {
  font-family: "Quicksand", sans-serif;
}

.card {
  box-shadow: 1px 1px 7px var(--bs-gray-400);
  margin-bottom: 25px;
}

.img-thumbnail {
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.h6, h6 {
  font-size: 1.25rem;
  margin-top: 15px;
  font-weight: 800;
  text-transform: capitalize!important;
}

